<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greška pri registraciji</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" th:href="@{/css/error_message.css}"/>
</head>
<body>
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Greška pri registraciji!</h4>
            <p>Došlo je do greške prilikom obrade vaše registracije. Molimo pokušajte ponovo.</p>
            <hr>
            <p>Ako se problem ponavlja, molimo kontaktirajte podršku.</p>
            <form th:action="@{/register/form}" method="get">
                <button type="submit" class="btn btn-primary">Pokušajte ponovo</button>
            </form>
        </div>
    </div>
</body>
</html>
