/* Opšti stilovi */
body {
    background-color: #f0f2f5;
    color: #333;
    font-family: Arial, sans-serif;
}


.btn1 {
    position: absolute;
    top: 15px;
    left: 45px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
    z-index: 20;
}
.btn1.click {
    left: 315px;
}
.btn1 span {
    color: white;
    font-size: 28px;
    line-height: 45px;
}
.sidebar {
    position: fixed;
    width: 310px;
    height: 100%;
    left: -310px;
    background: #1b1b1b;
    transition: left 0.4s ease;
    z-index: 20;


}
.sidebar.show {
    left: 0px;
}
.sidebar .text {
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
}
nav ul {
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
}
nav ul li {
    line-height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
nav ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 5px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}
nav ul li.active a {
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
}
nav ul li a:hover {
    background: #1e1e1e;
}
nav ul ul {
    position: static;
    display: none;
}
nav ul .register-show.show,
nav ul .sala-show.show {
    display: block;
}



nav ul .sala-show ul {
    display: none;
    list-style-type: none;
    padding-left: 20px;
}

nav ul .unesi-salu-show {
    display: none;
}

nav ul .sala-show.show ul.unesi-salu-show.show {
    display: block;
}




nav ul ul li {
    line-height: 42px;
    border-top: none;
}
nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 5px;
}
nav ul li.active ul li a {
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}
nav ul ul li a:hover {
    color: cyan !important;
    background: #1e1e1e !important;
}
nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
    font-size: 24px;
}

/* Stilovi za tabelu */
.table {
    color: #333;
    table-layout: fixed;
    width: 100%;
    border: 2px solid #000;
    box-shadow: 1px 5px 16px 3px rgba(0,0,0,0.75);
}

.table th,
.table td {
    border-color: #dee2e6;
    text-align: center;
    font-size: 16px;
    color: #000;
    background-color: white;
    vertical-align: middle;
}

.table-dark th {
    background-color: #00008B;
    color: #fff;
}

.table-head th {
    background-color: #0e5fb0cc;
}

/* Stilovi za filtere */
.filter-section {
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
}

.filter-section label {
    margin-right: 10px;
    color: #333;
}

.filter-section input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.filter-section input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Stilovi za dugmad */
.btn {
    border-radius: 4px;
}

.edit-btn {
    background-color: gray;
    color: white;
}

.delete-btn {
    background-color: gray;
    color: white;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: black !important;
    color: white;
}

.pagination-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 12px;
}

.page-button {
    margin-left: 10px;
    background-color: white; /* Boja pozadine za dugmad koja nisu selektovana */
    color: #333; /* Boja teksta za dugmad koja nisu selektovana */
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.page-numbers {
    span {
        margin-left: 10px;
    }
}

.btn-primary {
    background-color: #4169E1; 
    border-color: #4169E1; 
}

.btn-primary:hover {
    background-color: #1E90FF; 
}


.page-button:hover {
    background-color: #f0f2f5; /* Boja pozadine na hover */
}

.page-button.btn-primary {
    background-color: #4169E1; 
    color: white; 
    border-color: #4169E1; 
}

.page-button.btn-primary:hover {
    background-color: #1E90FF;
}

