  body {
            background-color: #f3f3f6;
            color: #ffffff;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding-top: 50px;
        }

        #promenaSifreBox {
            margin-top: 50px;
        }

        .card {
            border: none;
        }

        .card-header {
            background-color: #091038;
            color: #ffffff;
            text-align: center;
            font-weight: bold;
        }

        .card-body {
            background-color: #111d63;
            border-radius: 10px;
            padding: 40px;
        }

        .form-control {
            background-color: #ffffff;
            color: #688fd9;
            border: none;
            border-radius: 20px;
            padding: 10px 20px;
        }

        .btn-success {
            background-color: #688fd9;
            color: #ffffff;
            border-color: #688fd9;
            border-radius: 20px;
            padding: 10px 20px;
            width: 100%;
        }

        .btn-success:hover {
            background-color: #091038;
        }