<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <title>Promena šifre</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/changePassword.css}"/>
</head>
<body>
<div class="container">
    <div id="promenaSifreBox" class="col-md-6 offset-md-3">
        <div class="card border-info">
            <div class="card-header">
                Promena Šifre
            </div>
            <div class="card-body">
                <!-- Promena Sifre Form -->
                <form th:action="@{/changePassword}" method="POST">
                    <!-- Nova Sifra -->
                    <div class="mb-3">
                        <input type="password" id="novaSifra" name="novaSifra" placeholder="Nova šifra" class="form-control" />
                    </div>
                    <!-- Submit Button -->
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Promeni šifru</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
